<mat-drawer-container
  [autosize]="true"
  class="min-h-full max-w-7x1 mx-auto border-x"
>
  <mat-drawer mode="side" class="p-6" opened>
    <app-filters (onCategoryChanged)="onSelectCategory($event)"></app-filters>
  </mat-drawer>
  <mat-drawer-content class="p-6">
    <app-products-header
      (columnsCountChanged)="onColumnsUpdated($event)"
    ></app-products-header>
    <mat-grid-list gutterSize="16" [cols]="columns" [rowHeight]="rowHeight">
      <mat-grid-tile>
        <app-product-box
          (addToCart)="onAddToCart($event)"
          class="w-full"
          [fullWidthMode]="columns === 1"
        ></app-product-box>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
